<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Filme</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark-subtle fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand fs-3" href="/">MVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fs-5 me-5" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 me-5" href="/cadastroFilmes">Cadastro de Filmes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 me-5" href="/listarFilmes">Listar Filmes</a>
                    </li>
                </ul>
                <form class="d-flex" action="/sair" method="post">
                    <button class="btn btn-secondary" type="submit">Sair da Sessão</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container pt-4">
        <% if(message){ %>
            <div class="alert alert-warning sticky-top mt-5" role="alert">
                <%= message %>
            </div>
        <% } %>
        <h1 class="mt-5">Edição De Filmes</h1>
        <div class="row pt-2">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card bg-dark text-light" style="width: 100%;">
                    <h1 class="m-3"><%= filme.titulo %></h1>
                    
                    <form class="m-4" action="/editarFilme?_method=PUT" method="POST">
                        <input type="hidden" name="id" value="<%= filme.idFilme %>">
                        <div class="row mt-3">
                            <div class="col-xl-2">
                                <h4>Título: </h4>
                            </div>
                            <div class="col-xl-10">
                                <input class="form-control" type="text" name="titulo" value="<%= filme.titulo %>" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xl-2">
                                <h4>Sinopse: </h4>
                            </div>
                            <div class="col-xl-10">
                                <input class="form-control" type="text" name="sinopse" value="<%= filme.sinopse %>" style="width: 100%;">
                            </div>    
                        </div>
                        <div class="row mt-3">
                            <div class="col-xl-2">
                                <h4>Elenco: </h4>
                            </div>
                            <div class="col-xl-10">
                                <input class="form-control" type="text" name="elenco" value="<%= filme.elenco %>" style="width: 100%;">
                            </div>    
                        </div>
                        <div class="row mt-3">
                            <div class="col-xl-2">
                                <h4>Direção: </h4>
                            </div>
                            <div class="col-xl-10">
                                <input class="form-control" type="text" name="direcao" value="<%= filme.direcao %>" style="width: 100%;">
                            </div>    
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-light btn-lg px-5 mt-4" type="submit">Confirmar Edição</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <form action="/listarFilmes">
            <div class="container">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-dark mt-4" style="width: 100%;">Voltar</button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>